body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#2F4F4F;
  color: #333;
}

.container {
  max-width: 1200px;
  max-height: max-content;
  margin: 20px auto;
  padding: 20px;
  background-color:#DCDCDC;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-container__titel{
max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #adb0b2;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
      flex-grow: 1;
      text-align: center;
      font-size: 16px;
      font-style: italic;
      color: black;
  }

li {
  margin-bottom: 10px;
  /* Отступ снизу между элементами списка */
  margin-right: 20px;
  /* Отступ справа между элементами списка */
}

.titel__img {
  width: 220px;
  /* Set the width to maintain aspect ratio */
  height: 220px;
  /* Set the height to maintain aspect ratio */
  border-radius: 50%;
  /* Display the image as a circle */
  margin-bottom: 20px;
  object-fit: cover;
  /* Ensure the image covers the entire circle */
}
.flex-container-box__img {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  /* Запретить перенос элементов на новую строку */
  
  margin: 20px auto;
  padding: 20px;
 
  
}
.box__img{

  width: 220px;
  height: 220px;
 
      margin-right: 20px;
      /* Отступ справа между картинками */
    }


h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  color: #025656;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 0;
  color: #333;
}

p {
  line-height: 1.6;
  margin-bottom: 20px;
}

.quote {
  font-style: italic;
  color: #666;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}